* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border-radius: 10px; */
}



body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-shadow: 2px 2px #dadfea;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-items:center;
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: black; 
}
.link:hover {
    background-color:white;
    border-radius: 10px;
}
 .frame{
     background-image: url("../images/gingham.jpg");
     /* margin: 2% */
 }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top,rgba(255,0,0,0), rgba(255,0,0,1));
    margin-bottom: 2%;
}
h1, .quote {
    background-color: black;
    padding: 5%;
    width: 100%;
    border-radius: 0px;
    text-align: center;
    color: white;
    text-shadow: none;
}

.logo {
    margin: 2%;
    width: 60%;
    background-color: #dadfea;
    border-radius: 10px;
}

.column {
    flex-direction: column;
}

nav {
    padding-right: 2%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.textcenter {
    text-align: center;
}

.link {
    flex: 1;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.3em;
    text-decoration: none;
    color: black; 
    padding: 10px;
    margin: 5px;
}

.italic {
    font-style: italic;
}

img {
    width: 100vw;
    padding: 0;
} 

.bold {
    font-weight:bolder;
}
.pad {
    padding: 2%;
}
.test {
    font-size: 2em;
}
