
p{
    margin: 2%;
}

.feature {
    font-size: 2em;
    color: red;
    background-color: rgba(250, 250, 250, 0.75);
    margin: 2%;
}

.text {
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-shadow: none;
    font-weight:bolder;
    background-color: rgba(32, 32, 32, 0.9);
    color: white;
    margin: 2%;
}


