* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* border: 1px solid red; */
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-shadow: 2px 2px #dadfea;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-items:center;
    width: 100%;
    height: auto;
}

 .frame{
     background-image: url("../../images/gingham.jpg");
     margin: 2%
 }

header {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to top,rgba(255,0,0,0), rgba(255,0,0,1));
}
p{
    margin: 2%;
}
.largerd {
    font-size: 2em;
    color: red;
}
.bglight{
     background-color: rgba(32, 32, 32, 0.9);
     color: white;
}
.bgdark{
     background-color: rgba(250, 250, 250, 0.75);
}

.pad {
    margin: 2%;
}

.logo {
    width: 60%;
    background-color: #dadfea;
}

.column {
    flex-direction: column;
}

nav {
    padding: 2%;
}

.container {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.textcenter {
    text-align: center;
    text-shadow: none;
}

ul{
    list-style: none;
}

li {
    flex: 1;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1em;
}

.italic {
    font-style: italic;
}

img {
    width: 70%;
    border: 10px gray solid;
    margin: auto;
} 

.bold {
    font-weight:bolder;
}