* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}
li:hover {
    background-color:white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-shadow: 2px 2px #dadfea;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-items:center;
    width: 100%;
    height: auto;
}

.frame{
     background-image: url("../../images/gingham.jpg");
     margin: 2%
 }

header {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to top,rgba(255,0,0,0), rgba(255,0,0,1));
}

div div {
    padding: 2%;
}

h3 {
    padding: 2%;
}

.nopad{
    padding: 0px;
}

.logo {
    width: 60%;
    background-color: #dadfea;
}

.column {
    flex-direction: column;
}

nav {
    padding: 2%;
}

.wrap{
    flex-wrap: wrap;
}
.group {
    background-color: #dadfea;
    color: black;
    font-size: 18px;
    margin: 1%;
    padding: 1%;
    text-align: left;
}
.pad {
    padding: 2%;
}

.container {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

ul{
    list-style: none;
}

li {
    flex: 1;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1em;
}

img {
    width: 70%;
    border: 10px gray solid;
    margin: auto;
} 

.menu {
    display: flex;
    overflow: hidden;
    justify-content: center;
    background-color: rgba(32, 32, 32, 0.95);
    flex-direction: column;
    text-align: center;
    text-shadow: none;
    color: white;
}
