
div div {
    padding: 2%;
}

h3 {
    padding: 2%;
}

.nopad{
    padding: 0px;
}

.wrap{
    flex-wrap: wrap;
}
.group {
    background-color: #dadfea;
    color: black;
    font-size: 18px;
    margin: 1%;
    padding: 1%;
    text-align: left;
}
.menu {
    display: flex;
    overflow: hidden;
    justify-content: center;
    background-color: rgba(32, 32, 32, 0.95);
    flex-direction: column;
    text-align: center;
    text-shadow: none;
    color: white;
}
