
div div {
    padding: 2%;
}

h3 {
    padding: 2%;
}
.flexrow {
    display: flex;
    justify-content: space-evenly;

}
.nopad{
    padding: 0px;
}
.pad {
    padding: 2%;
}
.wrap{
    flex-wrap: wrap;
}
.group {
    background-color: #dadfea;
    color: black;
    margin: 1%;
    padding: 1%;
    text-align: left;
}
.menu {
    display: flex;
    overflow: hidden;
    background-image: url("../../images/burger-hero.jpg");
    background-size: cover;
    flex-direction: column;
    text-shadow: none;
}
