.address {
    text-shadow: none;
    font-weight:bolder;
    /* background-color: rgba(32, 32, 32, 0.9); */
    background-color: black; 
    color: white;
    min-width: 190px;
    margin: 2%;
    padding: 2%;
    flex: 1;
    border-radius: 10px;
}
.adjust {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.social {
    display: flex;
    flex-direction: column;
    text-align: right;

    width: 30%;
}
span {
   font-size: 2em;
}
.pad {
    margin: 2%;
}
h3 {
    padding: 2%;
}
h2 {
    background-color: #006494;
    padding-top: 5%;
    width: 100%;
    text-align: center;
    color: white;
}
.top {
    padding-top: 0;
}
.sub {
    justify-content: space-between;
    background-color: #dadfea ;
    padding: 2%;
}
input[type=text] {
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    background-color: black;
    color: white;
}
input:focus {
    outline: none;
}
button {
    padding:2% 6%; 
    background:white; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    margin: 2%;
}
button:focus {
    outline: none;
}
.wide {
    width: 100%;
}
.textcenter {
    text-align: center;
}

