.address {
    text-shadow: none;
    font-weight:bolder;
    background-color: rgba(32, 32, 32, 0.9);
    color: white;
    margin: 7%;
    padding: 5%;
    flex: 1;
}


p {
    font-size: .7em;
}

h3 {
    padding: 2%;
}
.column {
    flex-direction: column;
}

.start {
    justify-content: space-around;
}

form {
    padding: 1%;
    background-color: rgba(32, 32, 32, 0.9);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    min-width: 200px;
  
}
form > input {
    margin: 1%;
    padding: 2%
}

.submit {
    width: 20%;
    min-width: 56px;
}

.wide {
    width: 100%;
}

.textcenter {
    text-align: center;
}

